<!-- Título  de la sección y estilos de selectores -->
<h2 class="pl-20 py-8 font-pixel">Clasificar:</h2>
<div class="flex justify-around">
    <!-- Se agrega ngModel para guardar y modificar el valor de la variable -->
    <select [(ngModel)]="color" [disabled]="habitat !== ''" class="w-[20%] bg-white border-2 text-gray-800 text-center border-b-4 border-gray-700 px-3 py-2 font-bold focus:outline-none disabled:bg-gray-200 disabled:text-gray-400 disabled:opacity-60"  name="Colores" id="">
        <option class="" value="" disabled selected hidden> -- Pokemones por color --</option>

       <!-- Opciones del selector -->
        <option value="black">Negro</option>
        <option value="blue">Azul</option>
        <option value="brown">Café</option>
        <option value="gray">Gris</option>
        <option value="green">Verde</option>
        <option value="pink">Rosado</option>
        <option value="purple">Morado</option>
        <option value="red">Rojo</option>
        <option value="white">Blanco</option>
        <option value="yellow">Amarillo</option>

    </select>

    <select [(ngModel)]="habitat" [disabled]="color !==''" class="w-[20%] bg-white border-2 text-gray-800 text-center border-b-4 border-gray-700 px-3 py-2 font-bold focus:outline-none disabled:bg-gray-200 disabled:text-gray-400 disabled:opacity-60" name="Hábitat" id="">
        <option value="" disabled selected hidden> -- Pokemones por hábitat --</option>

        <option value="cave">Cueva</option>
        <option value="forest">Bosque</option>
        <option value="grassland">Pradera</option>
        <option value="mountain">Montaña</option>
        <option value="rare">Raro</option>
        <option value="rough-terrain">Terreno accidentado</option>
        <option value="sea">Mar</option>
        <option value="urban">Urbano</option>
        <option value="waters-edge">A orillas del agua</option>

    </select>
</div>

<!-- Botón -->
<div class="flex justify-center gap-10 pt-14">
    <button (click)="cleanSelector()" class="w-[15%] font-pixel text-xs border-2 border-indigo-500 p-2 rounded-xl cursor-pointer hover:bg-indigo-500 duration-300 transition-all">Volver a elegir</button>
</div>

<!-- Subtítulo de la sección -->
<h2 class="pl-20 py-8 font-pixel pt-20">Evolución:</h2>

<!-- Contenedor principal de la sección de los pokemones -->
<div class="flex flex-col gap-10 p-8">
    <!-- For que recorre cada cadena evolutiva -->
    @for(group of getFilter(); track $index){
    
    <!-- Estilos asignados a la información de los pokemones -->
    <!-- For que recorre cada pokemon individualmente -->
    <div class="flex flex-wrap items-center justify-center gap-4">
        @for (pokemon of group.chainPokemon; track $index) {
        <div
            class="group bg-[oklch(0.99_0_0)] border-4 border-black w-56 hover:shadow-[3px_3px_0px_0px_rgba(0,0,0,1)] hover:translate-x-0.75 hover:translate-y-0.75 transition-all">

            <div class="flex justify-center items-center px-3 py-1 border-b-4 border-black bg-[oklch(0.85_0.19_95)]">
                <h1 class="font-bold text-xl">{{pokemon.detail.name}}</h1>
            </div>

            <div class="flex justify-center items-center bg-[oklch(0.94_0.02_250)] py-4 border-b-4 border-black">
                <img class="w-24 h-24 image-rendering-pixelated group-hover:scale-110 transition-transform"
                    [src]="pokemon.detail.sprites.front_default" alt="">
            </div>

            <div class="px-3 py-3 text-center">
                <p><span class="font-bold">ID: </span>{{pokemon.detail.id}}</p>
                <p><span class="font-bold">Altura: </span>{{pokemon.detail.height / 10}} m.</p>
                <p><span class="font-bold">Peso: </span>{{pokemon.detail.weight / 10}} kg</p>
            </div>

        </div>
        }
    </div>
    }
</div>