<!-- Título  de la sección y estilos de selectores -->
<h2 class="pl-20 py-8 font-pixel">Clasificar:</h2>
<div class="flex justify-around">
    <select class="w-[20%] bg-white border-2 border-black text-[oklch(27.8%_0.033_256.848)] text-center" name="Colores" id="">
        <option class="" value="" disabled selected hidden> -- Pokemones por color --</option>

        <option value="1">Negro</option>
        <option value="2">Azul</option>
        <option value="3">Café</option>
        <option value="4">Gris</option>
        <option value="5">Verde</option>
        <option value="6">Rosado</option>
        <option value="7">Morado</option>
        <option value="8">Rojo</option>
        <option value="9">Blanco</option>
        <option value="10">Amarillo</option>

    </select>

    <select class="w-[20%] bg-white border-2 border-black text-[oklch(27.8%_0.033_256.848)] text-center" name="Hábitat" id="">
        <option value="" disabled selected hidden> -- Pokemones por hábitat --</option>

        <option value="1">Cueva</option>
        <option value="2">Bosque</option>
        <option value="3">Pradera</option>
        <option value="4">Montaña</option>
        <option value="5">Raro</option>
        <option value="6">Terreno accidentado</option>
        <option value="7">Mar</option>
        <option value="8">Urbano</option>
        <option value="9">Blanco</option>
        <option value="10">A orillas del agua</option>

    </select>
</div>